body{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    width: 90%;
   
    height: 60vh;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
    
    margin: 40vh auto;
}
.item1{
    background-color: whitesmoke;
    height: 15%;
    text-align: center;
    line-height: 51px;
    border-radius: 10px;
}
.item2{
    background-color: whitesmoke;
    height: 15%;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}
.item3{
    background-color: whitesmoke;
    height: 15%;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}
