body{
    margin: 0;
    width: 100%;
    
    background-color: white;
    box-sizing: border-box;
    

}

.container{
    
   
    font-size: 30px;
    color: white;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 10px;
   text-align: center;
   margin: 20px;
   height: 100vh;
  padding: 10px;
   background-color: white;
   

   
}



.item1{
    background-color: lightgrey;
    grid-column: 1 / -1;
    border: 3px solid black;
    line-height: 65px;
    text-transform: uppercase;

}
.item2{background-color:black;
    
grid-column: 1 / 4;


}
.item2 a{
text-decoration: none;
font-size: 0.4em;
float: right;
padding-right: 20px;
line-height: 70px;
color: white;
text-transform: uppercase;
transition: 0.3s all ease-in;


}
.item2 a:hover{
color: darkgreen;
}


.item3{background-color: rgb(194, 23, 51);
grid-row: 3 / 7;
border: 3px solid black;
text-transform: uppercase;
font-size: 16px;
line-height: 250px;

}
.item3 a{text-decoration: none;
color: white;
transition: 0.3s all ease-in;}

.item3 a:hover{
color: darkslateblue;

}
.item4{background-color: yellow;
    text-align: center;
    border: none;
    
}
.item5{background-color: cornflowerblue;
    grid-row: 3 / 7;
grid-column: 3 / -1;
border: 3px solid black;
text-transform: uppercase;
font-size: 16px;
line-height: 250px;

}
.item5 a{text-decoration: none;
color: white;
transition: 0.9s all ease-in;}

.item5 a:hover{
    color: rgb(51, 49, 67);

}

.item6{background-color: rgb(17, 233, 17)}
.item7{background-color: rgb(17, 233, 17)}
.item8{background-color: rgb(17, 233, 17)}
.item9{background-color: dodgerblue;
    border: 3px solid black;
    font-size: 16px;
    line-height: 70px;
grid-column: 1 / 4;}

.item6,.item7,.item8{
    border: 2px solid black;
    
}

 #color{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 18px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    background-color: yellow;
    border: 3px solid black;
    padding: 4px;
    max-height: 800px;
    padding-bottom: 50px;
   
    

}


@media (min-width:360px) and (max-width: 460px){
    
        .item2 a{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            text-decoration: none;
            font-size: 0.4em;
            float: right;
            padding-right: 20px;
            line-height: 70px;
            color: white;
            text-transform: uppercase;
            transition: 0.3s all ease-in;
    }















}